<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
<div th:text="${message}"></div>
<form th:action="@{/home/registration}" method="post" action="#" th:object="${user}">
    <div><label> Почта : <input type="email" th:field="*{email}"/>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td></label></div>
    <br>
    <div><label> Имя : <input type="text" th:field="*{name}"/>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td></label></div>
    <br>
    <div><label> Фамилия : <input type="text" th:field="*{surname}"/>
        <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td></label></div>
    <br>
    <div><label> Пароль: <input type="password" th:field="*{password}"/>
        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td></label></div>
    <br>
    <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    <div><button type="submit">Зарегистрироваться</button></div>
</form>
</body>
</html>