<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Voting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post" action="/users/userPage/studVoteFor">
    <td>
        <input type="radio" name = "vote" id = "yes" value="yes">
        <label for="yes">Голосовать За</label>
        <input type="radio" name = "vote" id = "no" value="no">
        <label for="no">Голосовать Против</label>
        <input type="hidden" th:value="${bidStudVote.id}" th:name="bid"/>
        <button type="submit">Проголосовать за</button>
        <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    </td>
</form>
<form method="post" action="/users/userPage/studVoteAgainst">
    <input type="hidden" th:value="${bidStudVote.id}" th:name="bid"/>
    <button type="submit">Проголосовать против</button>
    <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
</form>
</body>
</html>