<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bid editor</title>
</head>
<body>
<td>
    <span th:if="${userRoles.contains(moderator)}">
        <form action="/bids" method="post" enctype="multipart/form-data">
    <label>
        <input th:type="text" th:name="text" th:value="${bid2.text}">
        <input th:type="text" th:name="address" th:value="${bid2.address}" placeholder="Введите текст заявки">
        <input th:type="text" th:name="priseTo" th:value="${bid2.priseTo}" placeholder="Цена от">
        <input th:type="text" th:name="priseFrom" th:value="${bid2.priseFrom}" placeholder="Цена до">
        <input type="file" name="file" placeholder="Добавьте файл" th:value="${bid2.fileName}">
        <input th:type="hidden" th:value="${bid2.id}" th:name="bid">
    </label>
    <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    <button type="submit">Сохранить</button>
</form>
    </span>
    <span th:unless="${userRoles.contains(moderator)}">
        <form action="/users/userPage/save" method="post" enctype="multipart/form-data">
    <label>
        <input th:type="text" th:name="text" th:value="${bid2.text}">
        <input th:type="text" th:name="address" th:value="${bid2.address}" placeholder="Введите текст заявки">
        <input th:type="text" th:name="priseTo" th:value="${bid2.priseTo}" placeholder="Цена от">
        <input th:type="text" th:name="priseFrom" th:value="${bid2.priseFrom}" placeholder="Цена до">
        <input type="file" name="file" placeholder="Добавьте файл" th:value="${bid2.fileName}">
        <input th:type="hidden" th:value="${bid2.id}" th:name="bid">
    </label>
    <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    <button type="submit">Сохранить</button>
</form>
    </span>
    <form action="/bids/delete" method="post">
        <button type="submit">Удалить заявку</button>
        <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
        <input th:type="hidden" th:value="${bid2.id}" th:name="bid">
    </form>
</td>

</body>
</html>