<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bid editor</title>
</head>
<body>
<form action="/users/userPage/save" method="post">
    <label>
        <input th:type="text" th:name="text" th:value="${userBid.text}">
        <input th:type="hidden" th:value="${userBid.id}" th:name="bid">
    </label>
    <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>